:root {
    --font-size: 20px;
}

#field-typing-id {
    font-size: var(--font-size);
    height: 130px;
    text-align: inherit;
}

.phrase {
    font-size: var(--font-size);
}

.disabled-field {
    background-color: lightgray;
}

.icon-alignment {
    vertical-align: middle;
}

.initial-state {
    border: 4px solid black;
}

.different-text {
    border: 4px solid red;
}

.same-text {
    border: 4px solid green;
}

.scoreboard {
    display: none;
}